In [1]:
import pandas as pd
import seaborn as sns

In [2]:
caminho = 'C:\Cursos\Impacta\mba\DNSE2017.csv'

In [3]:
sinasc = pd.read_csv(caminho, dtype=str)

In [4]:
sinasc.head(5)

,contador,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,...,TPFUNCRESP,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK
0,1,1,2415631,230440,1,24,2,4,999992,01,...,NaN,0,NaN,12,0,1,NaN,05,1,9
1,2,1,2005050,270030,1,34,5,4,622020,03,...,NaN,3,05042017,06,0,1,NaN,03,1,3
2,3,1,2005050,270030,1,19,2,4,622020,NaN,...,NaN,3,03042017,06,0,1,NaN,11,0,5
3,4,1,2005026,270030,1,19,2,4,999992,01,...,2,3,29042017,04,0,1,NaN,05,1,2
4,5,1,2722429,270400,1,16,1,4,999991,00,...,2,4,19042017,05,0,1,NaN,03,1,2

In [5]:
sinasc.QTDFILVIVO = pd.to_numeric(sinasc.QTDFILVIVO).astype(pd.Int64Dtype())
sinasc.QTDFILMORT = pd.to_numeric(sinasc.QTDFILMORT).astype(pd.Int64Dtype())
sinasc.SEMAGESTAC = pd.to_numeric(sinasc.SEMAGESTAC).astype(pd.Int64Dtype())

sinasc.PESO = pd.to_numeric(sinasc.PESO)
sinasc.IDADEMAE = pd.to_numeric(sinasc.IDADEMAE)
sinasc.IDADEPAI = pd.to_numeric(sinasc.IDADEPAI)
sinasc.APGAR1 = pd.to_numeric(sinasc.APGAR1)
sinasc.APGAR5 = pd.to_numeric(sinasc.APGAR5)

sinasc.CONSPRENAT = pd.to_numeric(sinasc.CONSPRENAT).astype(pd.Int64Dtype())
sinasc.SERIESCMAE = pd.to_numeric(sinasc.SERIESCMAE).astype(pd.Int64Dtype())
sinasc.QTDGESTANT = pd.to_numeric(sinasc.QTDGESTANT).astype(pd.Int64Dtype())
sinasc.QTDPARTCES = pd.to_numeric(sinasc.QTDPARTCES).astype(pd.Int64Dtype())
sinasc.QTDPARTNOR = pd.to_numeric(sinasc.QTDPARTNOR).astype(pd.Int64Dtype())

In [7]:
#Filtros#
#Parto Normal
normal = sinasc[(sinasc['PARTO'] == '1')]
# parto cesÃ¡rea
cesarea = sinasc[(sinasc['PARTO'] == '2')]

#PrÃ© - Natal
pre_natal_0 = sinasc[(sinasc['CONSULTAS'] == '1')]
# 1 -3 Consultas 
pre_natal_1_3 = sinasc[(sinasc['CONSULTAS'] == '2')]
# 4 - 6 Consultas 
pre_natal_4_6 = sinasc[(sinasc['CONSULTAS'] == '3')]
# Mais de 7 Consultas 
pre_natal_7 = sinasc[(sinasc['CONSULTAS'] == '4')]

#gravidez Ãºnica
gravidez_1= sinasc[(sinasc['GRAVIDEZ'] == '1')]
#gravidez dupla
gravidez_2= sinasc[(sinasc['GRAVIDEZ'] == '2')]
#gravidez tripla ou mais
gravidez_3= sinasc[(sinasc['GRAVIDEZ'] == '3')]

#escolaridade nenhuma
escolaridade_0= sinasc[(sinasc['ESCMAE'] == '1')]
#escolaridade 1-3 anos
escolaridade_1_3= sinasc[(sinasc['ESCMAE'] == '2')]
#escolaridade 4-7 anos
escolaridade_4_7= sinasc[(sinasc['ESCMAE'] == '3')]
#escolaridade 8-11 anos
escolaridade_8_11= sinasc[(sinasc['ESCMAE'] == '4')]
#escolaridade 12+ anos
escolaridade_12= sinasc[(sinasc['ESCMAE'] == '5')]
# somar quantidade de filhos
escolaridade_0['FILHOS'] = escolaridade_0['QTDFILVIVO'] + escolaridade_0['QTDFILMORT']
escolaridade_1_3['FILHOS']  = escolaridade_1_3['QTDFILVIVO'] + escolaridade_1_3['QTDFILMORT']
escolaridade_4_7['FILHOS']  = escolaridade_4_7['QTDFILVIVO'] + escolaridade_4_7['QTDFILMORT']
escolaridade_8_11['FILHOS']  = escolaridade_8_11['QTDFILVIVO'] + escolaridade_8_11['QTDFILMORT']
escolaridade_12['FILHOS']  = escolaridade_12['QTDFILVIVO'] + escolaridade_12['QTDFILMORT']

<ipython-input-7-00a6b3d46bd9>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  escolaridade_0['FILHOS'] = escolaridade_0['QTDFILVIVO'] + escolaridade_0['QTDFILMORT']
<ipython-input-7-00a6b3d46bd9>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  escolaridade_1_3['FILHOS']  = escolaridade_1_3['QTDFILVIVO'] + escolaridade_1_3['QTDFILMORT']
<ipython-input-7-00a6b3d46bd9>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  escolaridade_4_7['FILHOS']  = escolaridade_4_7['QTDFILVIVO'] + escolaridade_4_7['QTDFILMORT']
<ipython-input-7-00a6b3d46bd9>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  escolaridade_8_11['FILHOS']  = escolaridade_8_11['QTDFILVIVO'] + escolaridade_8_11['QTDFILMORT']
<ipython-input-7-00a6b3d46bd9>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  escolaridade_12['FILHOS']  = escolaridade_12['QTDFILVIVO'] + escolaridade_12['QTDFILMORT']

In [8]:
#1 - Compare as idades das mÃ£es que fizeram cesÃ¡rea e das mÃ£es que fizeram parto normal

# mÃ©dia
media_1 = normal['IDADEMAE'].mean()
media_2 = cesarea['IDADEMAE'].mean()

# desvio mÃ©dio
dm_1 = normal['IDADEMAE'].mad()
dm_2 = cesarea['IDADEMAE'].mad()

# variÃ¢ncia
var_1 = normal['IDADEMAE'].var()
var_2 = cesarea['IDADEMAE'].var()

# desvio padrÃ£o
dp_1 = normal['IDADEMAE'].std()
dp_2 = cesarea['IDADEMAE'].std()

# amplitude interquartil
q_1 = normal['IDADEMAE'].quantile([0.25, 0.75]).values
q_2 = cesarea['IDADEMAE'].quantile([0.25, 0.75]).values
iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]

# coeficiente de variaÃ§Ã£o
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2

# organizando em um dataframe
resultado = pd.DataFrame({
    'Parto':['Normal', 'CesÃ¡rea'],
    'mÃ©dia':[media_1,media_2], 
    'dm':[dm_1, dm_2],
    'var':[var_1, var_2],
    'dp':[dp_1, dp_2], 
    'iqr':[iqr_1, iqr_2],
    'cv':[cv_1, cv_2]} ).set_index('Parto')
resultado

             mÃ©dia        dm        var        dp   iqr         cv
Parto
Normal   24.983570  5.576194  45.066032  6.713124  10.0  26.870154
CesÃ¡rea  27.634743  5.642534  45.322524  6.732201  11.0  24.361364

In [9]:
#2 - Compare o peso da crianÃ§a ao nascer das mÃ£es que fizeram cesÃ¡rea e das mÃ£es que fizeram parto normal

#**CesÃ¡rea *x* parto normal - peso das crianÃ§as** 

# mÃ©dia
media_1 = normal['PESO'].mean()
media_2 = cesarea['PESO'].mean()

# desvio mÃ©dio
dm_1 = normal['PESO'].mad()
dm_2 = cesarea['PESO'].mad()

# variÃ¢ncia
var_1 = normal['PESO'].var()
var_2 = cesarea['PESO'].var()

# desvio padrÃ£o
dp_1 = normal['PESO'].std()
dp_2 = cesarea['PESO'].std()

# amplitude interquartil
q_1 = normal['PESO'].quantile([0.25, 0.75]).values
q_2 = cesarea['PESO'].quantile([0.25, 0.75]).values
iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]

# coeficiente de variaÃ§Ã£o
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2

# organizando em um dataframe
resultado = pd.DataFrame({
    'Parto':['Normal', 'CesÃ¡rea'],
    'mÃ©dia':[media_1,media_2], 
    'dm':[dm_1, dm_2],
    'var':[var_1, var_2],
    'dp':[dp_1, dp_2], 
    'iqr':[iqr_1, iqr_2],
    'cv':[cv_1, cv_2]} ).set_index('Parto')
resultado

               mÃ©dia          dm            var          dp    iqr         cv
Parto
Normal   3192.604793  402.293533  308349.145900  555.291947  610.0  17.393069
CesÃ¡rea  3262.296254  445.274967  358318.792575  598.597354  678.0  18.348958

In [11]:
#3 - Compare o peso da crianÃ§a ao nascer para as diferentes categorias de consultas prÃ©-natal
# mÃ©dia
media_1 = pre_natal_0['PESO'].mean()
media_2 = pre_natal_1_3['PESO'].mean()
media_3 = pre_natal_4_6['PESO'].mean()
media_4 = pre_natal_7['PESO'].mean()

# desvio mÃ©dio
dm_1 = pre_natal_0['PESO'].mad()
dm_2 = pre_natal_1_3['PESO'].mad()
dm_3 = pre_natal_4_6['PESO'].mad()
dm_4 = pre_natal_7['PESO'].mad()

# variÃ¢ncia
var_1 = pre_natal_0['PESO'].var()
var_2 = pre_natal_1_3['PESO'].var()
var_3 = pre_natal_4_6['PESO'].var()
var_4 = pre_natal_7['PESO'].var()

# desvio padrÃ£o
dp_1 = pre_natal_0['PESO'].std()
dp_2 = pre_natal_1_3['PESO'].std()
dp_3 = pre_natal_4_6['PESO'].std()
dp_4 = pre_natal_7['PESO'].std()

# amplitude interquartil
q_1 = pre_natal_0['PESO'].quantile([0.25, 0.75]).values
q_2 = pre_natal_1_3['PESO'].quantile([0.25, 0.75]).values
q_3 = pre_natal_4_6['PESO'].quantile([0.25, 0.75]).values
q_4 = pre_natal_7['PESO'].quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]
iqr_4 = q_4[1] - q_4[0]

# coeficiente de variaÃ§Ã£o
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2
cv_3 = dp_3*100/media_3
cv_4 = dp_4*100/media_4

# organizando em um dataframe
resultado = pd.DataFrame({
    'Consultas':['Nenhuma', '1 a 3', '4 a 6', '7 ou mais'],
    'mÃ©dia':[media_1, media_2, media_3, media_4], 
    'dm':[dm_1, dm_2, dm_3, dm_4],
    'var':[var_1, var_2, var_3, var_4],
    'dp':[dp_1, dp_2, dp_3, dp_4], 
    'iqr':[iqr_1, iqr_2, iqr_3, iqr_4],
    'cv':[cv_1, cv_2, cv_3, cv_4]} ).set_index('Consultas')
resultado

,mÃ©dia,dm,var,dp,iqr,cv
Consultas,,,,,,
Nenhuma,3085.705714,496.312114,457410.809996,676.321529,718.0,21.917888
1 a 3,3022.836124,547.712242,585955.736224,765.477456,737.0,25.323154
4 a 6,3166.448122,443.196659,360822.481379,600.685010,670.0,18.970310
7 ou mais,3295.601250,381.589073,250745.901484,500.745346,610.0,15.194355

In [13]:
#4 - Compare quantidade de filhos vivos e mortos em relaÃ§Ã£o ao tipo de gravidez (Ãºnica, dupla, tripla ou mais)

# mÃ©dia
media_1 = gravidez_1['QTDFILVIVO'].mean()
media_2 = gravidez_2['QTDFILVIVO'].mean()
media_3 = gravidez_3['QTDFILVIVO'].mean()

# desvio mÃ©dio
dm_1 = gravidez_1['QTDFILVIVO'].mad()
dm_2 = gravidez_2['QTDFILVIVO'].mad()
dm_3 = gravidez_3['QTDFILVIVO'].mad()

# variÃ¢ncia
var_1 = gravidez_1['QTDFILVIVO'].var()
var_2 = gravidez_2['QTDFILVIVO'].var()
var_3 = gravidez_3['QTDFILVIVO'].var()

# desvio padrÃ£o
dp_1 = gravidez_1['QTDFILVIVO'].std()
dp_2 = gravidez_2['QTDFILVIVO'].std()
dp_3 = gravidez_3['QTDFILVIVO'].std()

# amplitude interquartil
q_1 = gravidez_1['QTDFILVIVO'].quantile([0.25, 0.75]).values
q_2 = gravidez_2['QTDFILVIVO'].quantile([0.25, 0.75]).values
q_3 = gravidez_3['QTDFILVIVO'].quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]

# coeficiente de variaÃ§Ã£o
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2
cv_3 = dp_3*100/media_3

# organizando em um dataframe
resultado = pd.DataFrame({
    'Tipo de gravidez':['Ãšnica', 'Dupla', 'Tripla ou mais'],
    'mÃ©dia':[media_1, media_2, media_3], 
    'dm':[dm_1, dm_2, dm_3],
    'var':[var_1, var_2, var_3],
    'dp':[dp_1, dp_2, dp_3], 
    'iqr':[iqr_1, iqr_2, iqr_3],
    'cv':[cv_1, cv_2, cv_3]} ).set_index('Tipo de gravidez')
resultado

                     mÃ©dia        dm       var        dp  iqr          cv
Tipo de gravidez
Ãšnica             1.121666  0.979290  2.008285  1.417140  2.0  126.342454
Dupla             1.197749  1.054021  1.981766  1.407752  2.0  117.533137
Tripla ou mais    0.833333  1.388889  3.676471  1.917412  0.0  230.089497

In [14]:
#**Tipo de gravidez - Quantidade de filhos mortos** 

# mÃ©dia
media_1 = gravidez_1['QTDFILMORT'].mean()
media_2 = gravidez_2['QTDFILMORT'].mean()
media_3 = gravidez_3['QTDFILMORT'].mean()

# desvio mÃ©dio
dm_1 = gravidez_1['QTDFILMORT'].mad()
dm_2 = gravidez_2['QTDFILMORT'].mad()
dm_3 = gravidez_3['QTDFILMORT'].mad()

# variÃ¢ncia
var_1 = gravidez_1['QTDFILMORT'].var()
var_2 = gravidez_2['QTDFILMORT'].var()
var_3 = gravidez_3['QTDFILMORT'].var()

# desvio padrÃ£o
dp_1 = gravidez_1['QTDFILMORT'].std()
dp_2 = gravidez_2['QTDFILMORT'].std()
dp_3 = gravidez_3['QTDFILMORT'].std()

# amplitude interquartil
q_1 = gravidez_1['QTDFILMORT'].quantile([0.25, 0.75]).values
q_2 = gravidez_2['QTDFILMORT'].quantile([0.25, 0.75]).values
q_3 = gravidez_3['QTDFILMORT'].quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]

# coeficiente de variaÃ§Ã£o
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2
cv_3 = dp_3*100/media_3

# organizando em um dataframe
resultado = pd.DataFrame({
    'Tipo de gravidez':['Ãšnica', 'Dupla', 'Tripla ou mais'],
    'mÃ©dia':[media_1, media_2, media_3], 
    'dm':[dm_1, dm_2, dm_3],
    'var':[var_1, var_2, var_3],
    'dp':[dp_1, dp_2, dp_3], 
    'iqr':[iqr_1, iqr_2, iqr_3],
    'cv':[cv_1, cv_2, cv_3]} ).set_index('Tipo de gravidez')
resultado

                     mÃ©dia        dm       var        dp  iqr          cv
Tipo de gravidez
Ãšnica             0.309670  0.469722  0.418627  0.647014  0.0  208.936670
Dupla             0.350168  0.509336  0.426922  0.653393  1.0  186.593960
Tripla ou mais    0.222222  0.345679  0.183007  0.427793  0.0  192.506684

In [15]:
#Compare a quantidade total de gravidezes (filhos vivos + filhos mortos) em relaÃ§Ã£o a escolaridade

# mÃ©dia
media_1 = escolaridade_0['FILHOS'].mean()
media_2 = escolaridade_1_3['FILHOS'].mean()
media_3 = escolaridade_4_7['FILHOS'].mean()
media_4 = escolaridade_8_11['FILHOS'].mean()
media_5 = escolaridade_12['FILHOS'].mean()

# desvio mÃ©dio
dm_1 = escolaridade_0['FILHOS'].mad()
dm_2 = escolaridade_1_3['FILHOS'].mad()
dm_3 = escolaridade_4_7['FILHOS'].mad()
dm_4 = escolaridade_8_11['FILHOS'].mad()
dm_5 = escolaridade_12['FILHOS'].mad()

# variÃ¢ncia
var_1 = escolaridade_0['FILHOS'].var()
var_2 = escolaridade_1_3['FILHOS'].var()
var_3 = escolaridade_4_7['FILHOS'].var()
var_4 = escolaridade_8_11['FILHOS'].var()
var_5 = escolaridade_12['FILHOS'].var()

# desvio padrÃ£o
dp_1 = escolaridade_0['FILHOS'].std()
dp_2 = escolaridade_1_3['FILHOS'].std()
dp_3 = escolaridade_4_7['FILHOS'].std()
dp_4 = escolaridade_8_11['FILHOS'].std()
dp_5 = escolaridade_12['FILHOS'].std()

# amplitude interquartil
q_1 = escolaridade_0['FILHOS'].quantile([0.25, 0.75]).values
q_2 = escolaridade_1_3['FILHOS'].quantile([0.25, 0.75]).values
q_3 = escolaridade_4_7['FILHOS'].quantile([0.25, 0.75]).values
q_4 = escolaridade_8_11['FILHOS'].quantile([0.25, 0.75]).values
q_5 = escolaridade_12['FILHOS'].quantile([0.25, 0.75]).values

iqr_1 = q_1[1] - q_1[0]
iqr_2 = q_2[1] - q_2[0]
iqr_3 = q_3[1] - q_3[0]
iqr_4 = q_4[1] - q_4[0]
iqr_5 = q_5[1] - q_5[0]

# coeficiente de variaÃ§Ã£o
cv_1 = dp_1*100/media_1
cv_2 = dp_2*100/media_2
cv_3 = dp_3*100/media_3
cv_4 = dp_4*100/media_4
cv_5 = dp_5*100/media_5

# organizando em um dataframe
resultado = pd.DataFrame({
    'Escolaridade':['Nenhuma', '1 a 3 anos', '4 a 7 anos', '8 a 11 anos', '12 anos ou mais'],
    'mÃ©dia':[media_1, media_2, media_3, media_4, media_5], 
    'dm':[dm_1, dm_2, dm_3, dm_4, dm_5],
    'var':[var_1, var_2, var_3, var_4, var_5],
    'dp':[dp_1, dp_2, dp_3, dp_4, dp_5], 
    'iqr':[iqr_1, iqr_2, iqr_3, iqr_4, iqr_5],
    'cv':[cv_1, cv_2, cv_3, cv_4, cv_5]} ).set_index('Escolaridade')
resultado

                    mÃ©dia        dm       var        dp  iqr          cv
Escolaridade
Nenhuma          5.310559  2.626056  9.827950  3.134956  4.0   59.032508
1 a 3 anos       3.544463  2.128675  7.400204  2.720332  3.0   76.748766
4 a 7 anos       1.857100  1.446019  3.632952  1.906030  3.0  102.634762
8 a 11 anos      1.089825  0.967779  1.748222  1.322203  2.0  121.322555
12 anos ou mais  0.709841  0.756203  0.973172  0.986495  1.0  138.974008